[2022-03-02 21:13] NoahAldahan opened #3 "Infinite Background and rightly fitted background image"
An infinitely scrolling background with the current background image

[2022-03-02 21:18] jvondermarck commented on #3
Hi Maxime, have you already choose the background image ?
I'll try to think about that issue later.

[2022-03-02 21:19] NoahAldahan commented on #3
Hey Julien,
Yeah, I used [that one](https://github.com/dylan-power/dinosaur-exploder/blob/main/src/main/resources/assets/textures/background.png), but right now it's too large and it doesn't properly fit the app

[2022-03-02 21:21] jvondermarck commented on #3
Thank you Max.

[2022-03-09 18:04] NoahAldahan opened #5 "[Feature]: Sideway movement animation"
An animation for when the spaceship is moving sideways, right now it feels a bit boring

[2022-03-09 18:07] jvondermarck opened #6 "Avoid leaving the game screen"
**Describe the bug**
We can go outside the game screen.

**To Reproduce**
Steps to reproduce the behavior:
1. When we click on the left or right keyboard multiple times.

**Desktop (please complete the following information):**
 - OS: Windows 11
 - Version 1.0

[2022-03-09 18:16] NoahAldahan opened #7 "Game menu"
It would be a start menu for the game, before we start the game
(and why not a settings tab as well)

[2022-03-09 18:55] jvondermarck commented on #3
Hi,
I just check out the FXGL repository on GitHub and I've found this issue :
https://github.com/AlmasB/FXGL/issues/342#issuecomment-1063157477

I hope it can help us !

[2022-03-16 10:39] dylan-power opened #10 "Add FXGL tutorial link to contribution guidelines file"
**Is your feature request related to a problem? Please describe.**
This is not related to a current problem but will improve documentation.

**Describe the solution you'd like**
Add [this video link](https://www.youtube.com/watch?v=48rVgdq0mFA) to our [contribution guidelines file](https://github.com/dylan-power/dinosaur-exploder/blob/main/CONTRIBUTING.md). This should be added just before the 'Ty

[2022-03-16 16:48] jvondermarck opened #11 "Set up JUnit Test"
Create JUnit Test for each class or a specific class/method of the game to check if everything is working. This would be great to create a folder named ***test***.
Use **JUnit 5.**

[2022-03-16 18:42] NoahAldahan opened #12 "[Bug]: Hitbox issues"
The hitboxes of certain game component like the dinosaur and the projectile are too big compared to the image.

[2022-03-16 18:53] NoahAldahan opened #14 "Dinosaur movement"
This feature would allow the dinosaurs to move down the screen, and if they are ever out of the screen, they would be deleted.

[2022-03-16 18:59] jvondermarck opened #15 "README shields"
**Describe the solution you'd like**
I'd like to put some shields on the top of the README FILE such as a Licence, amount of Forks/contributors, how many people connected to the Dinosaur server, and so on.

**Additional context**
You can create the shield on the following website : https://shields.io/
It can be great to add the same style for each shields such as "for-the-badge".

[2022-03-16 20:13] NoahAldahan commented on #14
This feature has been implemented

[2022-03-16 20:13] #14 closed, assigned to nobody

[2022-03-16 20:17] NoahAldahan opened #17 "Shooting Dinosaurs"
This feature would make it so the dinosaurs would be able to shoot laser projectile as well. Those projectiles would go dowwn vertically (towards the player). Dinosaurs could be shooting every 2 seconds.

[2022-03-16 20:46] NoahAldahan commented on #17
This feature has been implemented.

[2022-03-16 20:46] #17 closed, assigned to nobody

[2022-03-16 20:47] NoahAldahan commented on #12
The hitboxes of the player and enemy projectile still need to be fixed.

[2022-03-16 20:53] NoahAldahan opened #19 "Life system"
The player needs to know when he has gotten hit, and the game has to have a way to trigger a game over.
A life system could be a great way to deal with those problems. This would be a pretty big feature since it would need UI elements to function.
The player could have 3 lives and die (trigger a game over) when his life total is depleted. His lives would be spent by getting shot by the dinosaurs.

[2022-03-16 20:56] NoahAldahan opened #20 "Random spawning for dinosaurs"
Right now there is only one green dinosaur that spawns in the same place every time.
For a true shoot'em up experience, we could spawn dinosaurs at random places on the X axis and at random time intervals on the top of the screen.

[2022-03-16 20:58] NoahAldahan opened #21 "Scoring system"
A score that gets incremented each time the player shoots a dinosaur would make a great addition to the project !
Each time a player shoots a dinosaur, we could imagine he gets 100 more points, and the score could be shown to the player somewhere on the screen.
This is mainly a UI element.

[2022-03-20 02:05] IanWorley commented on #21
I would like to take a shot at this issue.

[2022-03-20 10:19] jvondermarck commented on #21
Hi, thank you so much! If you have any questions you can join our discord or contact us on Gmail/ Twitter! :)

[2022-03-20 22:38] IanWorley opened #23 "Add a .gitignore to the repo"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
Add a [ .gitignore ](https://www.atlassian.com/git/tutorials/saving-changes/gitignore) file to reduce the folder size of the repo

**Describe the solution you'd like**
A clear and concise description of what you want to happen.
Remove the f

[2022-03-21 00:39] IanWorley commented on #23
Make this a Good First Issue

[2022-03-22 11:22] #21 closed, assigned to nobody

[2022-03-22 16:52] IanWorley commented on #23
If someone does not take this issue in two weeks from the post date, I will implement this feature.

[2022-03-22 17:06] jvondermarck commented on #23
Hi you already can work on it, if so, keep me updated I will assign this issue to you :) @IanWorley

[2022-03-22 17:54] jdcreedon commented on #10
@dylan-power I'll take this one, can you assign it to me please?

[2022-03-22 17:54] jdcreedon commented on #15
@jvondermarck I'll take this one, can you assign it to me please?

[2022-03-22 18:25] jvondermarck commented on #3
Look at : 7df6f4a4f3bf5e44bd2fcf44136564bfdfa5ac6f
Gonna do some test and make it approve by @DatBoiSaix.

[2022-03-23 10:25] jvondermarck opened #24 "[Feature]: Stylized the score text label"
I'd be great to put some style on the text of the score, maybe import a special font to the game.
Add a small image next to the score maybe.
And put the text at the top-left.

[2022-03-23 10:31] jvondermarck opened #25 "[Feature]: Add a image icon of the game"
I'd be great to add an icon image of the game :
![image](https://user-images.githubusercontent.com/62793491/159678890-9b16f4f0-1c50-4849-bec0-d5df083a0def.png)

Add this image from this website : https://pixabay.com/ro/illustrations/dinozaur-animal-autocolant-reptila-6072475/
You'll have to resize it and maybe convert the picture format to ico.

[2022-03-23 10:38] jvondermarck opened #26 "Get hit when the spaceship is touching the dinosaur"
**Describe the bug**
The bug is when the spaceship is touching the dino, we doesn't get hit.
The method initPhysics() doesn't activate the collision when the ship and the dino are touching each other.

![image](https://user-images.githubusercontent.com/62793491/159680691-61dcee5f-d3a6-4911-8e10-429e0ac7e6de.png)

[2022-03-23 10:42] #3 closed, assigned to jvondermarck

[2022-03-23 15:21] FranciscoBastos commented on #11
Hi,

My colleague Ana Rita and I are students at masters in software engineering at FEUP (https://paginas.fe.up.pt/~estudar/mesw/). As part of the evaluation of one of the curriculum units, we need to choose an open-source project and fix an issue. We would like to know if we could help with this issue?

[2022-03-23 15:26] jvondermarck commented on #11
@FranciscoBastos Hii, we're also a team of students who are evaluated to work on an Open-Source project, so I understand you. 👍 So of course you can work on this issue and the others if you want. 💯

I can assign this issue to you, but i can't for you friend Ana (she needs to comment this issue)

[2022-03-23 15:48] jvondermarck opened #30 "[Feature]: Change format Pull Request template to YAML"
It would be great to change the Pull Request template from markdown to YAML format.
For a quick example you can look at our issue template which look like this : [click here.](https://github.com/jvondermarck/dinosaur-exploder/blob/main/.github/ISSUE_TEMPLATE/bug_report.yaml)

[2022-03-23 19:11] #23 closed, assigned to IanWorley

[2022-03-27 17:36] AlmasB commented on #20
https://github.com/AlmasB/FXGLGames/blob/d00f131f6911e5e865d540886bfab138167ca004/KeyRain/src/main/java/keyrain/KeyRainApp.java#L85-L87

is probably useful.

This looks like a fun student project, looking forward to new versions!

[2022-03-27 17:38] jvondermarck commented on #20
@AlmasB Thank you so much for sharing us the link!
Yes definitely, it's a cool student project 👌

[2022-03-28 13:47] FranciscoBastos commented on #11
Hi @jvondermarck, I'm sorry for the wait; my professor said that he would like us to choose another issue to work on. However, I can work on this issue on my own if you still let me...

[2022-03-28 13:48] jvondermarck commented on #11
Hi, @FranciscoBastos , no worries ! If you're still up to do this issue, I'll let you assigned to it :) Thanks for letting me know.

[2022-03-28 16:51] jvondermarck opened #32 "[Feature]: Create Java Doc"
### 👉 Please confirm the following

- [X] I agree to follow the [Code of Conduct](https://github.com/dylan-power/dinosaur-exploder/blob/main/CODE_OF_CONDUCT.md) that this project adheres to.
- [X] I checked the [current issues](https://github.com/dylan-power/dinosaur-exploder/issues) for duplicate features.

### 🤔 Is your proposal related to a problem?

_No response_

### 😍 Describe the solution y

[2022-03-28 16:58] jvondermarck opened #33 "[Feature]: README How to play add info"
### 👉 Please confirm the following

- [X] I agree to follow the [Code of Conduct](https://github.com/dylan-power/dinosaur-exploder/blob/main/CODE_OF_CONDUCT.md) that this project adheres to.
- [X] I checked the [current issues](https://github.com/dylan-power/dinosaur-exploder/issues) for duplicate features.

### 🤔 Is your proposal related to a problem?

_No response_

### 😍 Describe the solution y

[2022-03-28 17:02] jvondermarck opened #34 "[Feature]: README add prerequisite install the project locally"
### 👉 Please confirm the following

- [X] I agree to follow the [Code of Conduct](https://github.com/dylan-power/dinosaur-exploder/blob/main/CODE_OF_CONDUCT.md) that this project adheres to.
- [X] I checked the [current issues](https://github.com/dylan-power/dinosaur-exploder/issues) for duplicate features.

### 🤔 Is your proposal related to a problem?

_No response_

### 😍 Describe the solution y

[2022-03-29 10:40] Tomiiwa commented on #33
Hi, I'd like to work on this

[2022-03-29 10:42] jvondermarck commented on #33
@Tomiiwa Hi, great! I assigned you this issue :) Enjoy. 👍

[2022-03-29 10:45] Tomiiwa commented on #33
The link to download the game is leading back to github. How do I check for the required controls?

[2022-03-29 10:47] jvondermarck commented on #33
@Tomiiwa Yea I'm sorry, it's normal because we didn't create the executable yet, so you'll have to install the project locally (be aware to download Java FX first on your machine) and then you'll be able to run the game on Eclipse/Intellij.

[2022-03-29 10:49] jvondermarck commented on #33
@Tomiiwa You can check out the code here to know the different keys to play the game : https://github.com/dylan-power/dinosaur-exploder/blob/main/src/main/java/com/dinosaur/dinosaurexploder/controller/DinosaurController.java

[2022-03-29 10:51] Tomiiwa commented on #33
Got it, thanks

[2022-03-29 11:17] Tomiiwa commented on #10
Hi, I want to work on this, if it is still available

[2022-03-29 11:19] jvondermarck commented on #10
@filegrunt Hi, are you still working on it? 😊

[2022-03-29 11:46] #33 closed, assigned to Tomiiwa

[2022-03-29 13:16] Sidahmed-ben commented on #24
hello @jvondermarck , this issue interrests me , can you assign it to me please. Thank you

[2022-03-29 13:17] jvondermarck commented on #24
Hi @Sidahmed-ben, of course ! Thank you 👍🏻

[2022-03-29 14:46] #10 closed, assigned to jdcreedon

[2022-03-30 08:21] jvondermarck opened #39 "[Feature]: Create a home screen on startup"
### 👉 Please confirm the following

- [X] I agree to follow the [Code of Conduct](https://github.com/dylan-power/dinosaur-exploder/blob/main/CODE_OF_CONDUCT.md) that this project adheres to.
- [X] I checked the [current issues](https://github.com/dylan-power/dinosaur-exploder/issues) for duplicate features.

### 🤔 Is your proposal related to a problem?

_No response_

### 😍 Describe the solution y

[2022-03-30 08:26] #34 closed, assigned to nobody

[2022-03-30 08:32] jvondermarck opened #40 "[Feature]: Adding sounds (SFX)"
### 👉 Please confirm the following

- [X] I agree to follow the [Code of Conduct](https://github.com/dylan-power/dinosaur-exploder/blob/main/CODE_OF_CONDUCT.md) that this project adheres to.
- [X] I checked the [current issues](https://github.com/dylan-power/dinosaur-exploder/issues) for duplicate features.

### 🤔 Is your proposal related to a problem?

_No response_

### 😍 Describe the solution y

[2022-03-30 09:27] jvondermarck commented on #39
I found on the FXGL documentation a section on how to [create a menu](https://github.com/AlmasB/FXGL/wiki/Customizing-Menus-%28FXGL-11%29 ), maybe it can help you :)
This [video ](https://www.youtube.com/watch?v=SPJQmWVVX-U) and/or [this one too](https://www.youtube.com/watch?v=iWhtz5EUJFk) can help you also.
I found a repository with a Home Screen menu [click here (start line 32)](https://github.

[2022-03-30 09:29] jvondermarck commented on #40
I found on the FXGL documentation a section on how to [add sounds](https://github.com/AlmasB/FXGL/wiki/Adding-Images-and-Sounds-%28FXGL-11%29#feature-3-sound), maybe it can help you :)

[2022-03-30 11:50] NoahAldahan opened #41 "[Feature]: Add size options for the game window"
### 👉 Please confirm the following

- [X] I agree to follow the [Code of Conduct](https://github.com/dylan-power/dinosaur-exploder/blob/main/CODE_OF_CONDUCT.md) that this project adheres to.
- [X] I checked the [current issues](https://github.com/dylan-power/dinosaur-exploder/issues) for duplicate features.

### 🤔 Is your proposal related to a problem?

I personally have a 2560 by 1600 pixels scre

[2022-03-30 14:04] jvondermarck commented on #15
Please also add : [![GitHub Actions Maven Build - Dinosaur Exploder](https://github.com/dylan-power/dinosaur-exploder/actions/workflows/maven-build.yml/badge.svg)](https://github.com/dylan-power/dinosaur-exploder/actions/workflows/maven-build.yml)

[2022-03-30 18:07] #20 closed, assigned to NoahAldahan

[2022-03-30 18:11] NoahAldahan opened #47 "[Feature]: Animation when the dinosaurs get killed"
### 👉 Please confirm the following

- [X] I agree to follow the [Code of Conduct](https://github.com/dylan-power/dinosaur-exploder/blob/main/CODE_OF_CONDUCT.md) that this project adheres to.
- [X] I checked the [current issues](https://github.com/dylan-power/dinosaur-exploder/issues) for duplicate features.

### 🤔 Is your proposal related to a problem?

The game is called dinosaur exploder, but wh

[2022-03-30 20:37] #15 closed, assigned to jdcreedon

[2022-03-30 20:59] NoahAldahan commented on #7
More precise and up to date issue : [Issue #39](https://github.com/dylan-power/dinosaur-exploder/issues/39)

[2022-03-30 20:59] #7 closed, assigned to nobody

[2022-03-31 14:07] jvondermarck opened #49 "[Feature]: Lock the fps to 60."
### 👉 Please confirm the following

- [X] I agree to follow the [Code of Conduct](https://github.com/dylan-power/dinosaur-exploder/blob/main/CODE_OF_CONDUCT.md) that this project adheres to.
- [X] I checked the [current issues](https://github.com/dylan-power/dinosaur-exploder/issues) for duplicate features.

### 🤔 Is your proposal related to a problem?

Look this conversation to know the [problem]

[2022-03-31 19:35] sevarac opened #50 "[Bug]: NullPointerException when starting game (RTTexture.createGraphics)"
### 👉 Please confirm the following

- [X] I agree to follow the [Code of Conduct](https://github.com/dylan-power/dinosaur-exploder/blob/main/CODE_OF_CONDUCT.md) that this project adheres to.
- [X] I checked the [current issues](https://github.com/dylan-power/dinosaur-exploder/issues) for duplicate bugs.

### ❌ Current Behavior

When I run game from IDE (NetBEans) I get the exception:
java.lang.Nul

[2022-03-31 19:49] jvondermarck commented on #50
Hi @sevarac , it sounds like you're likely running out of VRAM. Do you have the possibility to downscale your resolution to 1080p to make it work ?

[2022-04-01 03:13] sevarac commented on #50
Yes, it worked thanks!

[2022-04-01 09:46] jvondermarck commented on #50
@sevarac Awesome!! Can you just say how did you do to downscale your screen (it can be great to explain for others people)?
And you were playing in a 4K screen?

[2022-04-01 12:35] jvondermarck commented on #50
Answer from the author of FXGL --> https://github.com/AlmasB/FXGL/discussions/1163#discussioncomment-2485211
On StackOverflow : https://stackoverflow.com/questions/65565209/nullpointers-in-javafx-when-using-a-large-canvas

[2022-04-01 12:49] #49 closed, assigned to nobody

[2022-04-06 18:17] #50 closed, assigned to jvondermarck

[2022-04-06 19:00] jvondermarck commented on #11
@FranciscoBastos Hi, are you still working on it ?

[2022-04-07 11:36] FranciscoBastos commented on #11
Hi, @jvondermarck. Sorry, I'm not working on it.

[2022-04-08 05:02] sevarac commented on #50
I've just changed screen resolution to 1280x1024

[2022-04-20 02:16] pgk1216 commented on #39
Hello! I could work on this issue!

[2022-04-20 02:17] pgk1216 commented on #11
Hello! I could take on this issue!

[2022-04-20 08:48] jvondermarck commented on #39
@pgk1216 Hi,of course you can work on it. I'll assign you this issue. Thank you so much 👌

[2022-04-20 08:50] jvondermarck commented on #11
@pgk1216 Hii,I'd really appreciate, thank you so much for your interest. I'll assign you this issue! 😉

[2022-04-21 08:27] jvondermarck commented on #24
@Sidahmed-ben Hi are you still working on it ? Need any help ?? Let me know please.

[2022-04-21 10:26] Sidahmed-ben commented on #24
Hello @jvondermarck , sorry I stopped working for the project because i haven't enough time.

[2022-04-22 05:14] pgk1216 commented on #19
Hello~ I could handle this issue!

[2022-04-22 06:56] pgk1216 commented on #6
Hello~ I could take care of this problem!

[2022-04-22 07:45] jvondermarck commented on #6
@pgk1216 Hii, alright no problem I assign this issue to you! Thank you so much for your interest contributing to our project!!

[2022-04-22 11:54] #11 closed, assigned to pgk1216

[2022-04-23 13:26] #6 closed, assigned to pgk1216

[2022-04-23 13:26] #39 closed, assigned to pgk1216

[2022-04-24 11:11] jvondermarck commented on #19
@pgk1216 Hi, no problem, I assign this issue to you. Thank you so much!

[2022-05-03 17:04] brianreville commented on #24
Hi @jvondermarck can you assign this to me

[2022-05-03 17:08] jvondermarck commented on #24
Hi @brianreville i assign this issue to you! Thank you! ☺️

[2022-05-04 14:50] jdcreedon commented on #30
@jvondermarck can you assign this issue to me please?

[2022-05-04 14:51] jvondermarck commented on #30
@filegrunt Hi, done. Thank you!

[2022-05-05 17:48] jvondermarck commented on #19
Video to help you with an example of life system : https://www.youtube.com/watch?v=y-AfsnIyIww

[2022-05-05 18:09] #26 closed, assigned to nobody

[2022-05-06 12:37] jvondermarck commented on #47
Great video that shows an explosion : https://www.youtube.com/watch?v=80xmzyp-IMc

[2022-05-06 19:40] SirShamrock commented on #47
Hi, I'd like to give this a go, and see if I can achieve it for you guys

[2022-05-06 19:50] jvondermarck commented on #47
Hi @SirShamrock ,no problem go ahead I assign this issue to you. Good luck!
It looks a bit complicated to work on this issue to make a good visual rendering, so if you need any help or need advice just contact us on our discord server if u want! :)

[2022-05-06 22:05] SirShamrock commented on #19
Not sure if there's been much progress made on this by pgk yet, but I could also handle this issue if there isn't :)

[2022-05-06 22:14] jvondermarck commented on #19
Hi @SirShamrock alright, I'm going to see with @pgk1216, if he didn't implement it yet, you can work on this issue! :)

[2022-05-07 13:37] SirShamrock opened #56 "[Bug-Feature]: Options Menu not working as intended"
### 👉 Please confirm the following

- [X] I agree to follow the [Code of Conduct](https://github.com/dylan-power/dinosaur-exploder/blob/main/CODE_OF_CONDUCT.md) that this project adheres to.
- [X] I checked the [current issues](https://github.com/dylan-power/dinosaur-exploder/issues) for duplicate bugs.

### ❌ Current Behavior

The options menu within the pause menu that can be accessed within the

[2022-05-07 13:42] jvondermarck commented on #56
Hi thank you for this issue. This menu is implemented by the FXGL framework so it's normal, I'd turn this issue to a feature issue.
For people who will work on it you can find some tutorials to change the menu :
+ Youtube video : https://www.youtube.com/watch?v=iWhtz5EUJFk
+ https://github.com/AlmasB/FXGL/discussions/1103
+ Documentation : https://github.com/AlmasB/FXGL/wiki/Customizing-Menus-%28F

[2022-05-07 20:26] #19 closed, assigned to pgk1216, SirShamrock

[2022-05-07 20:40] jvondermarck opened #58 "[Feature]: Create a design when player die"
### 👉 Please confirm the following

- [X] I agree to follow the [Code of Conduct](https://github.com/dylan-power/dinosaur-exploder/blob/main/CODE_OF_CONDUCT.md) that this project adheres to.
- [X] I checked the [current issues](https://github.com/dylan-power/dinosaur-exploder/issues) for duplicate features.

### 🤔 Is your proposal related to a problem?

When the player lives come to 0, we die, and

[2022-05-07 20:46] jvondermarck commented on #5
An example :
![image](https://user-images.githubusercontent.com/62793491/167271171-d3c4767a-8575-4514-aa78-acde6d3dd7f8.png)

[2022-05-07 20:58] jvondermarck opened #59 "[Feature]: Put a red background when spaceship get hit"
### 👉 Please confirm the following

- [X] I agree to follow the [Code of Conduct](https://github.com/dylan-power/dinosaur-exploder/blob/main/CODE_OF_CONDUCT.md) that this project adheres to.
- [X] I checked the [current issues](https://github.com/dylan-power/dinosaur-exploder/issues) for duplicate features.

### 🤔 Is your proposal related to a problem?

_No response_

### 😍 Describe the solution y

[2022-05-07 21:02] jvondermarck opened #60 "[Feature]: Update the life system design"
### 👉 Please confirm the following

- [X] I agree to follow the [Code of Conduct](https://github.com/dylan-power/dinosaur-exploder/blob/main/CODE_OF_CONDUCT.md) that this project adheres to.
- [X] I checked the [current issues](https://github.com/dylan-power/dinosaur-exploder/issues) for duplicate features.

### 🤔 Is your proposal related to a problem?

_No response_

### 😍 Describe the solution y

[2022-05-08 10:38] SirShamrock commented on #25
Hey, I'd like to give this a shot today

[2022-05-08 10:51] jvondermarck commented on #25
Hi @SirShamrock no problem I assign you this issue! 😉

[2022-05-08 12:33] jvondermarck commented on #30
Oops, so far it's not possible to change the PR template into YAML format, so unfortunately I close this issue. 😧

[2022-05-08 12:33] #30 closed, assigned to jdcreedon

[2022-05-08 15:20] jvondermarck commented on #12
The hitbox issue is represented below :
![image](https://user-images.githubusercontent.com/62793491/167303044-934fc1a9-2556-4c9e-a591-c195e7a54d31.png)
![image](https://user-images.githubusercontent.com/62793491/169356488-b8e10073-0b0d-4614-be10-0da72c240d85.png)

[2022-05-08 18:11] SirShamrock opened #62 "[Bug]: Grammatical error in PR template"
### 👉 Please confirm the following

- [X] I agree to follow the [Code of Conduct](https://github.com/dylan-power/dinosaur-exploder/blob/main/CODE_OF_CONDUCT.md) that this project adheres to.
- [X] I checked the [current issues](https://github.com/dylan-power/dinosaur-exploder/issues) for duplicate bugs.

### ❌ Current Behavior

![image](https://user-images.githubusercontent.com/100976263/167309491

[2022-05-08 18:12] jvondermarck commented on #62
Oops, thanks ! 😅

[2022-05-09 10:49] #62 closed, assigned to SirShamrock

[2022-05-19 16:56] nadia12-p commented on #12
Hi, is anyone working on this issue? If not, I'd like to take it.

[2022-05-19 16:57] jvondermarck commented on #12
Hi @nadia12-p , you can work on this issue :) I assign it to you.

[2022-05-19 16:58] nadia12-p commented on #12
Thank you, I'll be working on it :)

[2022-05-19 18:40] nadia12-p commented on #12
Hey I was checking out the project, and I have a couple of questions. Whenever the projectile and dinosaurs touch the edge of the spaceship, the lives should decrease right? Also, do you have any suggestion or idea about how to debug so I can see the hitbox?

[2022-05-19 22:13] jvondermarck commented on #12
Hi @nadia12-p ,about your first question yeah definitely if the projectile and the dinosaurs touch the edge of the spaceship, the lives should decrease!

Then, for your second question, if you played the game and tried to get hit when a dinosaur send a projectile, when you want to avoid it,  you'll see that your life will decrease because the the picture is too big (hitbox issue) , so my advice is

[2022-05-20 10:09] #25 closed, assigned to SirShamrock

[2022-05-20 18:03] andresmc98 commented on #58
Hi, is someone working on this issue?
i'd like to take it

[2022-05-20 18:03] jvondermarck commented on #58
Hi @andresmc98 yeah definitely! Thank you.

[2022-05-20 18:08] andresmc98 commented on #58
Thanks c: @jvondermarck ,
I already can run the project so if i have a doubt or a progress i tell you c:
also im on your disc serv

[2022-05-20 18:10] jvondermarck commented on #58
That's great if you can run it! No worries, don't hesitate to ask any questions you want. To help you, I advice you to look at some FXGL projects on GitHub or YouTube, you can find examples there to solve this issue! 🙂

[2022-05-20 22:18] nadia12-p commented on #12
Hey @jvondermarck, I cropped the image as you suggested but I think we could open another issue so the hitbox of the spaceship would be more adequate to its shape. Instead of just one box, we could do three boxes that represent the entire spaceship. This way the player could have more freedom escaping the enemyProjectiles and the green dinos. What do you think?

<img width="233" alt="Screen Shot 2

[2022-05-20 22:21] nadia12-p commented on #59
Hey, I was looking at the project and I'm interested to keep contributing, can I take this issue?

[2022-05-20 22:21] jvondermarck commented on #12
Hi @nadia12-p , thanks for working on this issue, I'll review your PR tomorrow ASAP!
That's an excellent idea, you can definitely open a new issue / or use this existing issue to propose this idea! Thank you so much for your interest on the project! 🙂

[2022-05-20 22:22] jvondermarck commented on #59
Yeah @nadia12-p, go ahead! Thank you so much! 🙂

[2022-05-21 11:09] jvondermarck commented on #12
I reopen the issue if @nadia12-p want to work on the spaceship hitbox :)

[2022-05-22 12:04] kiancliffe commented on #40
Hi @jvondermarck I would like to give this a go for a few sounds I made in sfxr, can you assign it to me please :)

[2022-05-22 12:05] jvondermarck commented on #40
Hii, @kiancliffe I'm glad if you can take this issue ! Thank you so much !

[2022-05-23 14:48] nadia12-p commented on #12
@jvondermarck I think I'm going to work on the red background feature first, if anyone else wants to work on it, feel free! :)

[2022-05-23 14:50] jvondermarck commented on #12
@nadia12-p Okay awesome!
Just be careful to not delete any files in the ".idea" folder + the "dinosaur-exploder.iml" file.
Thank you! 🙂

[2022-05-29 09:59] #59 closed, assigned to nadia12-p

[2022-06-07 11:31] ValerieRossDEV commented on #60
Hi, I'd like to give this issue a go. Is it still open?

[2022-06-07 11:40] jvondermarck commented on #60
Hi @ValerieRossDEV yep of course, go ahead 🙂

[2022-06-08 19:06] nescude commented on #12
Hello, I'd like to work on this issue, my approach to this is using two overlapping hitboxes, one for the spaceship body and one for the wings.

[2022-06-08 19:07] jvondermarck commented on #12
Hi @nescude it sounds good to me, I assign this issue to you 👌

[2022-06-10 12:16] #12 closed, assigned to nescude, nadia12-p

[2022-06-10 12:24] jvondermarck commented on #40
Add a home screen background sound :
![image](https://user-images.githubusercontent.com/62793491/173063613-0528b151-563a-4e9c-8a8c-b067e9265e6e.png)

[2022-07-01 16:17] nadia12-p commented on #56
Hi! Can I work on this?

[2022-07-01 16:18] jvondermarck commented on #56
Hi @nadia12-p yeah go ahead :)

[2022-07-03 18:22] nadia12-p commented on #56
Hi @jvondermarck I have a couple of questions on the layout of the pause menu.

1. Do you want all the default buttons to stay on the layout? I think the Video and Restore buttons aren't really relevant to our game right now but I can leave them and we can add a functionality to them later, what do you think?
2. What is the difference between the Gameplay and Controls buttons?
3. The title's style

[2022-07-04 02:08] andresmc98 commented on #58
Hello i made a version 1.0 of the game over screen like this
<img width="553" alt="Screen Shot 2022-07-03 at 14 35 59" src="https://user-images.githubusercontent.com/52982047/177069287-b0d259be-f6b4-4bb9-88f0-ba4401dd3eaa.png">

soon i'll try to made the other kind of screen c:

[2022-07-04 04:44] andresmc98 commented on #60
Hi, still need help on this issue?

[2022-07-05 19:23] jvondermarck commented on #60
Hi @andresmc98 yeah the issue is still open, you can work on it :) Thanks

[2022-07-05 19:24] jvondermarck commented on #60
You can help to solve this PR : https://github.com/dylan-power/dinosaur-exploder/pull/72 @andresmc98
There is an issue on it, so it can be cool if you can work from the work of @ValerieRossDEV.

[2022-07-05 19:35] jvondermarck commented on #56
Hi @nadia12-p

1. Indeed, the Video and Restore buttons aren't really relevant to our game.
2. I have no idea what is the difference between Gameplay and Controls buttons, but I'd say maybe to remove the Gameplay button and edit the Controls button to have all the controls of the game (u can see all the controls right [here.](https://github.com/dylan-power/dinosaur-exploder#-how-to-play)
3. Huum I

[2022-07-05 19:37] jvondermarck commented on #58
Great well done !!

[2022-07-05 19:39] #58 closed, assigned to andresmc98

[2022-07-06 17:19] nadia12-p commented on #40
Hi @jvondermarck, if the issue is free, can I continue working on this? I think maybe a sound when you're playing the game would also be nice to implement, what do you think?

[2022-07-06 20:18] jvondermarck commented on #40
Hi @nadia12-p that's a great idea, absolutely you can work on this issue, thank you very much! 🙏 (btw I'll review ur PR asap)

[2022-07-07 14:42] nadia12-p commented on #40
Yeah no worries take your time!! Meanwhile I'll work on this :D

[2022-07-07 19:49] #56 closed, assigned to nobody

[2022-07-07 19:51] jvondermarck commented on #40
Great @nadia12-p , good luck, if you have any questions or need help to choose between different SFX do not hesitate :)

[2022-07-07 20:20] nadia12-p commented on #40
Hi @jvondermarck ! yeah actually I'm choosing the sounds from [this website](https://pixabay.com/sound-effects/search/background/  ). I chose this sound for the Home Screen (sorry for the picture, the website doesn't let me link it :P):

<img width="1184" alt="Screen Shot 2022-07-07 at 15 14 08" src="https://user-images.githubusercontent.com/70818848/177863583-03126dd4-973f-4f53-82f4-b89da33f8f45.

[2022-07-08 10:06] jvondermarck commented on #40
Hi @nadia12-p, I like both songs !!
I also found this sound, it's a spaceship sound so it can be great for the game as well :
![image](https://user-images.githubusercontent.com/62793491/177969378-a2823c9a-db8f-4901-9057-eb0a9d892f7a.png)

I think u can remove the sound **engine.wav** because we don't really hear it when we play, so put in place of this engine.wav sound, the sound you want, it's up

[2022-07-08 13:57] nadia12-p commented on #40
Hey @jvondermarck good to know! I'll add the sound and submit the PR asap :D

[2022-07-08 19:52] shivam98 commented on #24
Hi, I am new to github, want to contribute, Could you please assign this. Thanks

[2022-07-10 14:45] jvondermarck commented on #40
It would be great to add a sound when the player dies (maybe find a spaceship explosion ??) :)

[2022-07-10 14:52] jvondermarck opened #76 "[Feature]: Manage sounds on the game and control the volume"
### 👉 Please confirm the following

- [X] I agree to follow the [Code of Conduct](https://github.com/dylan-power/dinosaur-exploder/blob/main/CODE_OF_CONDUCT.md) that this project adheres to.
- [X] I checked the [current issues](https://github.com/dylan-power/dinosaur-exploder/issues) for duplicate features.

### 🤔 Is your proposal related to a problem?

_No response_

### 😍 Describe the solution y

[2022-07-10 14:52] jvondermarck commented on #24
Hii yeah of course @shivam98 , go ahead :)

[2022-07-10 15:01] jvondermarck opened #77 "[Feature]: Update interface of the home screen"
### 👉 Please confirm the following

- [X] I agree to follow the [Code of Conduct](https://github.com/dylan-power/dinosaur-exploder/blob/main/CODE_OF_CONDUCT.md) that this project adheres to.
- [X] I checked the [current issues](https://github.com/dylan-power/dinosaur-exploder/issues) for duplicate features.

### 🤔 Is your proposal related to a problem?

_No response_

### 😍 Describe the solution y

[2022-07-11 01:34] RamonASV commented on #76
Hello! May I work on this issue? I already have an idea on how to work this out.

[2022-07-11 05:08] jvondermarck commented on #76
Hi @RamonASV yeah of course, go ahead :)

[2022-07-11 23:36] RamonASV commented on #76
I'm currently having some troubles on this, as DinosaurController.java uses FXGL.play() instead of a MediaPlayer. As of now I can only mute the music in the main menu. I also noticed that when you lose and return to the Main Menu the gameBackground.wav file keeps playing instead of the mainMenu.wav

[2022-07-11 23:44] RamonASV commented on #77
Hello, I currently made some changes while I was working on #76  after I got stuck.
<img width="549" alt="Screen Shot 2022-07-11 at 18 37 25" src="https://user-images.githubusercontent.com/104037313/178376242-0941beae-27c3-43e9-afc6-8945a15800d7.png">
I'm still checking on how to include a moving background, but if it's okay I can upload these changes

[2022-07-12 00:17] gabrielaramburu commented on #5
Hi,
I think, I have implemented this movement animation.

![imagen](https://user-images.githubusercontent.com/63823685/178379697-55f32384-6d97-47c7-8a22-15d8c33427fe.png)
 I can make a PR if you want.

best regards
Gabriel

[2022-07-12 04:49] jvondermarck commented on #77
Hii, @RamonASV well done! Can you just try to put some style to the music button, by removing the white background, because right now it doesn't fit really well to the rest of the design? Otherwise everything looks good.
I'm gonna check your error on the other issue ASAP. 🤔

[2022-07-12 04:52] jvondermarck commented on #76
For the first issue, maybe you can create a boolean variable for the music to know if the game has to put the home screen sound and the game sounds while playing, try to do that maybe?

[code]

(the code is false but it's just an example)

[2022-07-12 04:54] jvondermarck commented on #76
and for the second issue indeed something is going wrong.. that's weird.. Maybe there is a method from FXGL to stop all sounds activated and then you can activate the home screen sound again when u go back to the menu?

[2022-08-06 13:38] #24 closed, assigned to shivam98, brianreville

[2022-09-03 05:24] Vishrut19 commented on #32
@jvondermarck Hey can I help you with this ? Or I can take up this task if you help me what to do and somethings about it

[2022-09-03 05:25] Vishrut19 commented on #76
@RamonASV can I help you out with it ?

[2022-09-03 09:38] jvondermarck commented on #32
hi @Vishrut19 yeah you can work on this issue, you just have to in each class of the repo, write comments for each methods, what the method is doing and so on. Feel free to do whatever you want, I'll review it and tell you.
I've found this article that can help u : https://www.jetbrains.com/help/idea/working-with-code-documentation.html

[2022-09-03 09:39] jvondermarck commented on #76
Hi @Vishrut19 you can finish this issue alone, I am not sure he's still working on it, so go ahead :)

[2022-09-03 09:43] Vishrut19 commented on #32
I will try to do it and send you back for review.

[2022-09-03 09:45] Vishrut19 commented on #76
Okay I will try to do whatever I can.

[2022-09-04 15:07] akshaywakhare commented on #32
@Vishrut19 please let me know if I can contribute along in any way

[2022-09-04 15:48] Vishrut19 commented on #32
Yes @akshaywakhare we can contribute together. What say ?

[2022-09-05 13:52] Vishrut19 commented on #32
@akshaywakhare Join the official Discord server of the project and then we can work on it.

[2022-09-05 19:55] akshaywakhare commented on #32
yeah definitely! Lets connect over discord

[2022-09-06 04:16] Vishrut19 commented on #32
@akshaywakhare okay connect on the project's official discord server.

[2022-09-08 12:56] Vishrut19 commented on #32
Hello @jvondermarck ! Just had some queries. Can you please connect to the discord voice channel?

[2022-09-08 12:59] jvondermarck commented on #32
Hi, sorry I'm at work right now, I can't :( but if you can write your queries, go ahead :)

[2022-09-08 13:02] Vishrut19 commented on #32
@jvondermarck Okay Actually opened and installed the whole project on my system. On VSCode it is running well but on Intellij Idea I am not able to edit or even run the project.
Can you please help me with project setup on Intellij Idea.

[2022-09-08 13:08] jvondermarck commented on #32
Can u please show me a screenshot when you are on Intellji ? @Vishrut19
When u download the project and unzip it, it should download automatically the dependencies otherwise run a maven command
![image](https://user-images.githubusercontent.com/62793491/189129764-03f1bb44-3c57-4866-b34b-2c19af655506.png)
![image](https://user-images.githubusercontent.com/62793491/189129980-e219d7a9-5c81-49c6-96ca-

[2022-09-08 13:13] Vishrut19 commented on #32
@jvondermarck okay its working now let me try to do the docs part and if there is any issue then I will get back to you. Please help me because this is my first open source project.

[2022-09-08 13:16] jvondermarck commented on #32
Awesome !! Good luck, take your time, and do not hesitate to ask questions :) @Vishrut19

[2022-09-08 13:17] Vishrut19 commented on #32
Sure and thanks @jvondermarck

[2022-09-21 08:58] Vishrut19 commented on #32
@jvondermarck This app doesn't work on MacOS ?

[2022-09-21 12:05] jvondermarck commented on #32
Hi @Vishrut19, that's a good question... Hum nobody never tested on a Mac, but it should work if you have installed Java 17. What's the issue ?

[2022-09-21 14:49] Vishrut19 commented on #32
@jvondermarck Sorry for the late reply! The issue is that there is no command to run the app on MacOSX

[2022-09-21 15:31] jvondermarck commented on #32
@Vishrut19 but can you run the project ? or u mean that u can't run the jar file ? give me some details

[2022-09-21 16:05] Vishrut19 commented on #32
@jvondermarck I have downloaded the zip file --> extracted it --> open the folder on IntelliJ --> then when I am trying to run normally it is not happening. Then I tried the .jar file command then also it is saying zsh: command not found

[2022-09-21 16:17] jvondermarck commented on #32
Alright, I understand now, and do you get any errors while trying to run it ? @Vishrut19

[2022-09-21 16:19] Vishrut19 commented on #32
No I didn't get any errors while running but it is not running at all

[2022-09-21 16:28] jvondermarck commented on #32
Huum maybe it didn't import the project correctly.
Try to do this :
![image](https://user-images.githubusercontent.com/62793491/191559602-253fdd5a-a2aa-4ff6-8d43-595baf6d5064.png)
- then select the whole folder
- and select import module from MAVEN

otherwise just send me a screenshot of your IDE just to see if i can see something

[2022-09-21 16:36] Vishrut19 commented on #32
@jvondermarck This is what I can see on my screen
<img width="1470" alt="Screenshot 2022-09-21 at 10 02 34 PM" src="https://user-images.githubusercontent.com/53470896/191561474-272a3f86-e218-4925-8cd7-1206333e10c4.png">

[2022-09-21 16:37] jvondermarck commented on #32
Can u click here ?
![image](https://user-images.githubusercontent.com/62793491/191561886-6d819f1b-b1bc-4026-9581-4c293c86964d.png)

[2022-09-21 17:40] Vishrut19 commented on #32
@jvondermarck Yes it is working

[2022-09-29 15:33] annavordou commented on #32
Hi everyone! Do you need more help on this issue?

[2022-09-29 16:15] Vishrut19 commented on #32
Yes @annavordou you are welcome to help!

[2022-10-14 20:20] singhparmeetb commented on #60
Hi, uh, I actually developed the heart system in a different way and only now I realized that there's already a different code/PR for that purpose. I am new to open source and github altogether, so naturally I missed out the issues section.
Will you like to take a look at my code? or Should I commit the changes?
Will be waiting for your feedback!

[2022-10-14 20:24] jvondermarck commented on #60
Hi @Dedmondium thank you so much for your contribution. Open a Pull Request, and i'll check ! There is an old PR about this issue that just doesn't work so if everything is working for you, i'll approve it. Thanks 😎 Welcome to the world of contribution !

[2022-10-15 13:36] #60 closed, assigned to ValerieRossDEV, andresmc98

[2022-10-21 11:17] a1j2d commented on #32
hi @jvondermarck ..! do you need any help

[2022-10-24 08:07] jvondermarck commented on #32
hey @mjsgitt you can work on it if you want, do not hesitate :)

[2022-10-25 04:33] a1j2d commented on #32
@jvondermarck, Is this how the **comment description** and the **flow of the comment** should be?

![GithubDino](https://user-images.githubusercontent.com/75468288/197683071-c325f458-b43e-411a-9f63-5328b2dcb63a.png)

[2022-10-25 06:35] jvondermarck commented on #32
https://www.jetbrains.com/help/idea/working-with-code-documentation.html#auto-comment
To create a comment write : /** and pres enter to generate the comment

[2022-10-26 10:50] a1j2d commented on #32
hey @jvondermarck, is **comment description** required for enums, and interfaces?

[2022-10-26 18:13] jvondermarck commented on #32
Hi, @mjsgitt yeah it is recommended for an interface to comment each method, but for enums you can just explain what is the enum for :)

[2022-10-27 08:23] a1j2d commented on #32
hey @jvondermarck, I have pushed the code with comments in CommentsbyMj branch , review it or suggest any changes to do.

[2022-11-02 10:30] a1j2d commented on #32
@jvondermarck  did you receive the update which I pushed ??